<section>
  <div class="phone-container">
    <div class="phone">
      <object id="phone-outline" data="/assets/svg/iphone-outline_animated.svg" width="100%" type="image/svg+xml"></object>
      <object id="phone" data="/assets/svg/iphone.svg" width="100%" type="image/svg+xml"></object>
      <svg class="ui">
        <!-- <circle  /> -->
          <text x="50%" y="50%" text-anchor="middle" dy=".3em" fill="white">Geno</text>
      </svg>
    </div>
  </div>
  <div class="about">
    <div class="text">
      سریع ترین نرم افزار، عملی و قابل اعتماد به سفارش یک تاکسی است. تنها با یک کلیک شما می توانید WIFI در هیئت مدیره، دکمه از راننده مورد علاقه، و بیشتر لذت ببرید. سعی کنید آن را در حال حاضر شروع  خود را!
    </div>

    <button class="accent" type="button" name="button">iOS</button>
    <button class="accent" type="button" name="button">Google</button>
  </div>
</section>
