:host
{
  display: block;
  text-align: center;
  background: #eee;
  background: url(/assets/images/city.jpg) center center;
  background-size: cover;
  padding: 2em 10% 6em;
}

.section-title h1 {
  background: #f7faff;
}

geno-roadmap
{
  padding: 8em 0;
}
