:host
{
  position: fixed;
  // background: rgba(23, 21, 25, .26);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #eee;
}

.header
{
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 95px;
  transition: 500ms height, 500ms padding;
  padding: 0 4em;
  color: #eee;

  .brand
  {
    font-size: 28px;
    transition: 200ms font-size;
  }


  &.expanded
  {
    color: #333;
    height: 65px;
    background: #fff;
    // box-shadow: 0 0 1px 1px #777;
    border-bottom: 3px solid #fbb03c;

    .brand
    {
      font-size: 24px;
    }
  }
}


.navbar
{
  flex: 1;
  text-align: right;
  padding-right: 1em;

  a
  {
    margin: 0 1em;
    font-size: 1em;
  }
}

.download
{
  height: 40px;
  width: 150px;
  border-radius: 25px;
  padding-left: 25px;

  svg {
    fill: #333;
    top: 4px;
    left: 18px;
    width: 28px;
    height: 28px;
    position: absolute;
  }
}
