:host
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header
{
  display: flex;
  align-items: center;
  color: #eee;
  height: 95px;
  padding: 0 4em;
  transition: 500ms height, 500ms padding;

  .brand
  {
    font-size: 28px;
    transition: 200ms font-size;
  }


  &.expanded
  {
    color: #333;
    height: 65px;
    background: #fff;
    border-bottom: 3px solid #fbb03c;

    .brand
    {
      font-size: 24px;
    }
  }
}


.navbar
{
  flex: 1;
  text-align: right;
  padding-right: 1em;

  a
  {
    margin: 0 1em;
    font-size: 1em;
  }
}

.download
{
  height: 40px;
  width: 150px;
  border-radius: 25px;
  padding-left: 25px;

  svg
  {
    fill: #333;
    top: 4px;
    left: 18px;
    width: 28px;
    height: 28px;
    position: absolute;
  }
}

@media only screen and (max-width : 768px)
{
  .header
  {
    color: #333;
    height: 50px;
    background: #fff;
    border-bottom: 3px solid #fbb03c;
    padding: 0 2em;

    .brand
    {
      font-size: 24px;
    }
  }

  .navbar
  {
    text-align: center;
    font-size: .9em;
  }


  .download
  {
    height: 33px;
    width: 105px;
    padding-left: 26px;

    svg
    {
      top: 5px;
      left: 11px;
      width: 22px;
      height: 22px;
    }
  }
}
