<div class="quote">
  <blockquote>
    به خانواده بزرگ گنو بپیوندید
    <i class="fa fa-quote-right"></i>
  </blockquote>
</div>
<footer class="footer">
  <ul class="left">
    <li><a href="#">شرایط و قوانین</a></li>
    <li><a href="#">سوالات رایج</a></li>
    <li><a href="#">حریم خصوصی</a></li>
  </ul>

  <ul class="social">
    <li>
      <a href="#">
        <svg>
          <use xlink:href="/assets/svg/social-sprites.svg#telegram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use xlink:href="/assets/svg/social-sprites.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use xlink:href="/assets/svg/social-sprites.svg#google-plus"></use>
        </svg>
      </a>
    </li>
  </ul>
</footer>
<footer class="enamad">
  <img src="/assets/images/enamad.png" alt="enamd">
  <img src="/assets/images/namad.png" alt="samandehi.ir">
  <p class="copy-right">COPYRIGHT © GENO SOFT.</p>
</footer>
