<div class="quote">
  <blockquote>
    به خانواده بزرگ گنو بپیوندید
  </blockquote>
</div>
<footer class="footer">
  <ul class="right">
    <li class="social">
      <a href="#">
        <svg>
          <use xlink:href="/assets/svg/social-sprites.svg#telegram"></use>
        </svg>
      </a>
      <a href="#">
        <svg>
          <use xlink:href="/assets/svg/social-sprites.svg#instagram"></use>
        </svg>
      </a>
      <a href="#">
        <svg>
          <use xlink:href="/assets/svg/social-sprites.svg#google-plus"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">ارتباط با ما</a>
    </li>
  </ul>
  <ul class="left">
    <li>شرایط و قوانین</li>
    <li>سوالات رایج</li>
    <li>حریم خصوصی</li>
  </ul>
</footer>
<footer class="enamad">
  <img src="/assets/images/enamad.png" alt="enamd">
  <img src="/assets/images/namad.png" alt="samandehi.ir">
</footer>
