.footer
{
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #333;
  color: #eee;
  justify-content: space-between;
  padding: 1em;

  ul
  {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 2em;
    align-items: center;
    font-family: Yas;

    li
    {
      margin: 20px;
    }

    &.social
    {
      li
      {
        margin: 1em 10px;
      }
      svg
      {
        fill: #eee;
        width: 40px;
        height: 40px;
        transition: 500ms fill;

        &:hover
        {
          fill: #fbb03c;
        }
      }
    }
  }
}

.enamad
{
  background: #eee;
  padding: 1em;
  text-align: center;
}

.copy-right
{
  color: #bababa;
  margin-top: 2em;
  font-size: small;
}
