.quote
{
  padding: 5em;
  background: url('/assets/images/footer.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #eee;
  text-shadow: 0 1px 1px rgba(80, 80, 80, 1);

  .fa-quote-right
  {
    top: -16px;
    position: relative;
    font-size: 13pt;
  }
}

blockquote
{
  margin: 0;
  font-size: 2em;
  text-align: center;
}

.footer
{
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #333;
  color: #eee;
  justify-content: space-between;
  padding: 1em;

  ul
  {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 2em;
    align-items: center;

    &.left
    {
      flex: 3;
    }

    &.right
    {
      flex: 2;
    }

    li
    {
      margin: 20px;
    }

    &.social
    {
      li
      {
        margin: 1em 10px;
      }
      svg
      {
        fill: #eee;
        width: 32px;
        height: 32px;
        transition: 500ms fill;

        &:hover
        {
          fill: #fbb03c;
        }
      }
    }
  }
}

.enamad
{
  background: #eee;
  padding: 1em;
  text-align: center;
}

.copy-right
{
  color: #bababa;
  margin-top: 2em;
  font-size: small;
}
