@font-face {
  font-family: Yekan;
  src: url('assets/fonts/BYekan.eot'),
  url('assets/fonts/BYekan.woff') format('woff'),
  url('assets/fonts/BYekan.ttf') format('truetype');
}

@font-face {
  font-family: Yas;
  src: url('assets/fonts/irsansans.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Titr;
  src: url('assets/fonts/BTitrBold.ttf');
  font-weight: 400;
}
