.quote
{
  padding: 5em 0;
  background: url('/assets/images/mock-city.jpg') center center no-repeat;
  background-size: cover;
  color: #333;

  .fa-quote-right
  {
    top: -16px;
    position: relative;
    font-size: 13pt;
  }
}

blockquote
{
  font-family: Yekan;
  font-weight: bold;
  font-size: 3em;
  margin: 0;
  text-align: center;
}

.quote-icon {
  fill: #333;
}
