* {
  box-sizing: border-box;
}

html ,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: Yas;
  font-size: 14px;
}

button {
  font-family: inherit;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 {
  font-family: Yekan;
  margin: 0;
}

ul {
  margin: 0;
}
