:host
{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone
{
  z-index: 1;
  position: relative;

  img
  {
    height: 600px;
  }

  .ui
  {
    background: #333;
    height: 395px;
    position: absolute;
    width: 221px;
    top: 102px;
    left: 49px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg
  {
    width: 200px;
    height: 200px;
  }
}

circle
{
  stroke: #fbb03c;
  stroke-width: 3;
  fill: #eee;
  r: 45%;
  cx: 50%;
  cy: 50%;
}
