:host
{
  flex: 1;
  margin: 1em;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  color: #333;
}


.card
{
  display: flex;
  z-index: 1;
  flex-flow: column nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);

  &:hover
  {
    .about::before
    {
      bottom: 0;
    }
  }
}

header
{
  background: #fff;
  text-align: center;

  .service-icon
  {
    width: 100%;
    fill: #333;
    height: 100px;

    &.green
    {
      transform: scaleX(-1);
      height: 80px;
      margin: 10px 0;
    }
  }

  .title
  {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}

.about
{
  z-index: 1;
  background: #f0f0f0;
  padding: 1em 3em;
  position: relative;
  overflow: hidden;

  &::before
  {
    content: '';
    background: #fbb03c;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transition: 400ms bottom ease-in;
    bottom: -100%;
    z-index: -1;
  }

  p
  {
    margin: 0;
  }
}
