.quote
{
  background: url('/assets/images/footer.jpg') center center no-repeat;
  background-attachment: fixed;
  color: #eee;

  a {
    display: inline-block;
    margin-top: 1em;
  }
}

.quote-icon {
  fill: #eee;
}
