@import 'assets/scss/typography';
@import 'assets/scss/variables';
@import 'assets/scss/normalize';
@import 'assets/scss/buttons';

.section-title {
  border-bottom: 1px solid #dee0df;
  color: $dark;
  text-align: center;
  margin: 0 0 5em;

  h1 {
    font-family: Yekan;
    font-weight: bold;
    font-size: 22px;
    top: 15px;
    position: relative;
    display: inline-block;
    padding: 0 1em;
  }
}

.quote {
  padding: 5em 0;
  background-size: cover;
  text-align: center;

  blockquote {
    font-family: Yekan;
    font-weight: bold;
    font-size: 3em;
    margin: 0;
    text-align: center;
  }

  .quote-icon {
    width: 24px;
    height: 24px;
    top: -11px;
    position: relative;
    left: 6px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .quote {
    padding: 4em;

    blockquote {
      font-size: 2.4em;
    }

    .quote-icon {
      width: 18px;
      height: 18px;
      top: -11px;
      position: relative;
      left: 6px;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

// /* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}
